<div class="historia-container">
    <div class="historia-box">
        <h1>¿Quienes somos?</h1>
        <div class="historia-content">
            <img src="assets/img/home/cupula.jpg" alt="Observatorio Francisco Sánchez" class="historia-img">
            <div class="historia-text">
                <p>
                    El Observatorio Francisco Sánchez situado en la Universidad Politécnica de madrid,
                    esta siendo llevado por los alumnos de las asociaciones ACM y ASCFI en colaboracion de Raquel Cedazo
                    profesora de la ETSIDI.
                </p>
                <p>
                    Desde su fundación, hemos mantenido un compromiso inquebrantable con la excelencia en la investigación
                    y la educación, brindando oportunidades para que estudiantes y profesionales puedan explorar los misterios
                    del cosmos.
                </p>
            </div>
        </div>
    </div>
</div>
