<div class="historia-container">
    <div class="historia-box">
        <h1>¿Quienes somos?</h1>
        <div class="historia-content">
            <div class="historia-top">
                <img src="assets/img/home/cupula.jpg" alt="Observatorio Francisco Sánchez" class="historia-img">
                <div class="historia-top-text">
                    <p>
                        Somos las asociaciones estudiantiles ACM y ASCFI de la Universidad Politécnica de Madrid, responsables de la recuperación y 
                        puesta en marcha del Observatorio Francisco Sánchez nombrado así en honor a su fundador y ubicado en la ETSIINF. Este proyecto cuenta con el apoyo 
                        y la dirección de la profesora Raquel Cedazo León, perteneciente a la ETSIDI, así como el respaldo del rectorado de nuestro campus en esta iniciativa para 
                        la divulgación e investigación astronómica.
                    </p>
                </div>
            </div>
            <div class="historia-bottom">
                <p>
                    Actualmente, el observatorio se encuentra en proceso de rehabilitación con el objetivo de volver a realizar observaciones astronómicas y acercar la astronomía a estudiantes y apasionados del cosmos. A día de hoy, la cúpula ya se encuentra operativa y el telescopio está siendo restaurado para devolver el observatorio a su total funcionalidad.
                </p>
                <p>
                    Nuestro propósito es recuperar este espacio histórico y convertirlo nuevamente en un punto de encuentro para la ciencia, la educación y la exploración del universo y los astros.
                </p>
            </div>
        </div>
    </div>
</div>
