<!-- Tiene el pie de pagina con los enlaces a las redes sociales y los logos-->
<div class="footer-bg">
  <div class="footer-data">
    <div class="footer-blocks-row">
      <div class="footer-block">
        <div class="footer-block-title">Contacto</div>
        <div class="footer-block-content">
          <a class="white-text" href="https://www.google.com/maps/place/Escuela+Técnica+Superior+de+Ingenieros+Informáticos+de+la+Universidad+Politécnica+de+Madrid/@40.4054946,-3.8354464,15z/data=!4m5!3m4!1s0x0:0xdf7b007bb6904fa5!8m2!3d40.4054946!4d-3.8354464">
            <fa-icon class="footer-icon" [icon]="faMapMarkerAlt" size="lg"></fa-icon>
            Escuela Técnica Superior de Ingeniería Informática, 28660 Boadilla del Monte, Madrid
          </a>
        </div>
      </div>
      <div class="footer-block">
        <div class="footer-block-title">Síguenos</div>
        <div class="footer-block-content">
          <a href="https://twitter.com/cslabupm">
            <fa-icon class="footer-icon" [icon]="faTwitter" size="lg"></fa-icon>
          </a>
          <a href="https://www.facebook.com/cslabupm/">
            <fa-icon class="footer-icon" [icon]="faFacebook" size="lg"></fa-icon>
          </a>
          <a href="https://www.instagram.com/cslabupm/">
            <fa-icon class="footer-icon" [icon]="faInstagram" size="lg"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-logos">
      <img class="footer-logo" src="assets/img/logos/logo-upm.png">
      <img class="footer-logo" src="assets/img/logos/logo-cslab-hz.png">
      <img class="footer-logo" src="assets/img/logos/logo_ofs_dark.png">
    </div>
  </div>
</div>